
#projects{
    background: var(--background-grey);
}

#projects-title{
    color: var(--text);
}

.project-card {
    max-width: 200rem;
}

.project-icons a{
    border-radius: 0.3em;
    padding: 0.6em;
    text-decoration: none;
    transition: .2s;
}

.project-icon-demo{
    background: #2477dc;
    color: #fff;
    border: 1px solid #2477dc;
}

.project-icon-demo:hover{
    background: #fff;
    color: #2477dc;
}

.project-icon-git{
    color: #fff;
    background: #000;
    border: 1px solid #000;
}

.project-icon-git:hover{
    color: #000;
    background: #fff;
}

