:root {
    --background-dark: #0d1027;
    --background-grey: #dfdfdf;
    --background-light-grey: #f3f3f3;
    --background-white: #fdfffc;
    --text: #161a38;
    --text-blue: #2477dc; 
}

[data-mode="dark"] {
    --background-dark: #0D0F1F;
    --background-grey: #0D1029;
    --background-light-grey: #131736;
    --background-white: #293065;
    --text: #f6f6f6;
    --text-blue: #2477dc; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

#filler{
    height: 600px;
}

body{
    padding-top: 50px;
}
