:root {
    --background-grey: #dfdfdf;
    --background-light-grey: #f3f3f3;
    --background-white: #fdfffc;
    --text: #161a38;
    --text-blue: #2477dc; 
}

[data-theme="dark"] {
    --background-grey: #0d1029;
    --background-light-grey: #131736;
    --background-white: #293065;
    --text: #f6f6f6;
    --text-blue: #2477dc; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', sans-serif;
    transition: .2s;
}

#filler{
    height: 600px;
}

body{
    padding-top: 110px;
}

